<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<div class="container text-center">
    <body>
    <h1>Ваш пароль :</h1>
    <h2 clsss="alert alert-success">{{ password }}</h2>

    <a href="{% url 'home' %}" class="btn btn-warning">На главную<a/>

    </body>
<div/>
</html>